Date format for Germline related objects

`AlleleDescription.release_date` and `GermlineSet.release_date` currently lack a date format. OpenAPI uses [RFC3339 section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) (`format: date`), which identical as the ISO8601 notation we have used so far in other fields.


Fixed via PR #593 